BaseURL = "http://localhost:8199"    # replace with your hostname
PastaDir = "pastas"                  # absolute or relative path to the pastas
BindAddress = ":8199"                # server bind address
MaxPastaSize = 26214400              # max allowed pasta size - 5 MB
PastaCharacters = 8                  # Number of characters for pasta id
Expire = 2592000                     # Default expire in seconds (1 Month)
Cleanup = 3600                       # Cleanup interval in seconds (1 hour)
RequestDelay = 2000                  # Milliseconds between POST/DELETE requests per host
