name: pastad

on: push

jobs:
  pastad:
    name: pasta server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '1.14'
      - name: Install requirements
        run: make requirements
      - name: Compile binaries
        run: make pastad pasta
      - name: Run tests
        run: make test
